<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>
        this is the home page
        1+1
    </h1>
    <h2><%= 1+1 %></h2>
    <h2><%= "naba yousuf".toUpperCase() %></h2>
    <h2><%= ["naba yousuf","sameer yousuf"][1]%></h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veritatis possimus impedit iste! Nemo modi aut consequuntur quasi, ea aliquid labore veritatis eveniet sit reprehenderit eius fugiat illum, atque nostrum!e
    </p>
    <button>Sumbit</button>
</body>
</html>