<%- include("includes/head.ejs"); %>
<body>
    <h1> ROll Dice Dice gave the value : <%= num %> </h1>
  <!-- js code  -->
    <% if(num == 6){ %>
    <h2> Nice! Roll Dice again </h2>
     <% } %>
<%- include("includes/footer.ejs") %>
</body>
</html>